<ion-header>
  <ion-toolbar>
    <ion-title>{{product.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Total: ${{product.total}}<br>
      Quantity: {{product.quantity}}<br>
      Date of Purchase: {{product.dateOfPurchase}}
    </ion-card-content>
  </ion-card>
</ion-content>
