<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <div *ngIf="historyProducts.length > 0; else noProducts">
    <ion-list>
      <ion-list-header>
        Clothing
      </ion-list-header>
      <!--Show when user purchased products-->
      <div *ngFor="let product of historyProducts; let idx=index;">
        <ion-item button detail='true' [routerLink]="['/history-detail', idx]">
          <ion-label>
            <h2 style="color: #72a3f2;">{{product.name}}</h2>
            <h3>Quantity: {{product.quantity}}</h3>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <!--Show when user hasn't purchased products-->
  <ng-template #noProducts>
    <div class = "center">
      <h2>No products purchased.</h2>
      <ion-button color="dark" [routerLink]="['/home']">Back to home</ion-button>
    </div>
  </ng-template>
</ion-content>
