<ion-header>
  <ion-toolbar>
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        New Product
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Product name:</ion-label>
      <ion-input [(ngModel)]="product.name" placeholder="Enter name" type="text" clear-input=true></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Product price:</ion-label>
      <ion-input [(ngModel)]="product.price" placeholder="Enter price" type="number" clear-input=true></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Product quantity:</ion-label>
      <ion-input [(ngModel)]="product.quantity" placeholder="Enter quantity" type="number" clear-input=true></ion-input>
    </ion-item>

  </ion-list>
  <section class="wrapper">
    <ion-button (click)="addProduct()">Save</ion-button>
    <ion-button color="dark" [routerLink]="['/manager']">Cancel</ion-button>
  </section>
</ion-content>
