<ion-header>
  <ion-toolbar>
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addProduct()">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          New Product
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Product name:</ion-label>
        <ion-input [(ngModel)]="product.name" name="name" placeholder="Enter name" type="text" clear-input=true></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Product price:</ion-label>
        <ion-input [(ngModel)]="product.price" name="price" placeholder="Enter price" type="number" clear-input=true></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Product quantity:</ion-label>
        <ion-input [(ngModel)]="product.quantity" name="quantity" placeholder="Enter quantity" type="number" clear-input=true></ion-input>
      </ion-item>
  
    </ion-list>
    <section class="flex-parent jc-center">
      <ion-button type = "submit">Save</ion-button>
      <ion-button color="dark" (click) = "navigateBack()">Cancel</ion-button>
    </section>
  </form>
</ion-content>
